In [1]:
import pandas as pd
import numpy as np

In [2]:
d1 = pd.read_csv("2_VED_orig_data.csv")
d1.head()

,Unnamed: 0,trip_id,trip_segmentno,segmentkey,segmentid,speed,meters_driven,seconds,air_temperature,wind_direction,...,tertiary_link,track,trunk,trunk_link,unclassified,unpaved,speed_avg_week,speed_avg_time,speed_avg_week_time,speed_avg
0,0,554,-1,-1,-1,63.349998,-1,0.0,11.5,230,...,0,0,0,0,0,0,45.31759,50.505328,47.055879,46.446291
1,1,554,-1,-1,-1,64.809998,-1,0.0,11.5,230,...,0,0,0,0,0,0,45.31759,50.505328,47.055879,46.446291
2,2,554,-1,-1,-1,50.369999,-1,0.0,11.5,230,...,0,0,0,0,0,0,45.31759,50.505328,47.055879,46.446291
3,3,554,-1,-1,-1,61.669998,-1,0.0,11.5,230,...,0,0,0,0,0,0,45.31759,50.505328,47.055879,46.446291
4,4,554,-1,-1,-1,54.059998,-1,0.0,11.5,230,...,0,0,0,0,0,0,45.31759,50.505328,47.055879,46.446291

In [3]:
d1.columns, d1.shape

(Index(['Unnamed: 0', 'trip_id', 'trip_segmentno', 'segmentkey', 'segmentid',
        'speed', 'meters_driven', 'seconds', 'air_temperature',
        'wind_direction', 'wind_speed_ms', 'segangle', 'speed_limit', 'none',
        'snow', 'thunder', 'fog', 'drifting', 'wet', 'dry', 'freezing',
        'ev_kwh', 'weekend', 'time', 'living_street', 'motorway',
        'motorway_link', 'primary', 'primary_link', 'residential', 'secondary',
        'secondary_link', 'service', 'tertiary', 'tertiary_link', 'track',
        'trunk', 'trunk_link', 'unclassified', 'unpaved', 'speed_avg_week',
        'speed_avg_time', 'speed_avg_week_time', 'speed_avg'],
       dtype='object'),
 (19348, 44))

In [4]:
trips = np.unique(d1['trip_id'])
len(trips)

482

In [5]:
trips = np.unique(d1['trip_id'])
trips_tr = trips[:300]
trips_te = trips[300:]
tr = []
te = []
for j in range(d1.shape[0]):
    if d1['trip_id'][j] in trips_tr:
        tr.append(d1['trip_id'][j])
    else:
        te.append(d1['trip_id'][j])
#len(trips)
train_idx = np.array([x in trips[:300] for x in d1['trip_id'] ])
test_idx = np.array([x in trips[300:] for x in d1['trip_id']])
train_idx = np.argwhere(train_idx)[:,0]
test_idx = np.argwhere(test_idx)[:,0]
#sum(train_idx), sum(test_idx)

In [7]:
sum(train_idx), sum(test_idx)

(74951646, 112211232)

In [8]:
len(tr),len(te)

(12244, 7104)

In [10]:
X_labels = ['speed', 'speed_limit', 'speed_avg_week', 'speed_avg_time', 'speed_avg_week_time', 'speed_avg',
            'seconds', 'air_temperature',
       'wind_direction', 'wind_speed_ms', 'segangle',  
       'time', 'weekend',
       'drifting', 'dry', 'fog', 'freezing', 'none', 'snow', 'thunder', 'wet', 
        'living_street', 'motorway', 'motorway_link', 'primary', 'residential', 
       'secondary', 'secondary_link', 'service', 'tertiary', 
       'track', 'trunk', 'trunk_link', 'unclassified', 'unpaved']
y_labels = ['trip_id', 'trip_segmentno', 'segmentkey',
       'segmentid', 'ev_kwh']

In [43]:
d1.loc[train_idx, X_labels].to_csv("X_train_VED.csv", index=False)
d1.loc[train_idx, y_labels].to_csv("y_train_VED.csv", index=False)

d1.loc[test_idx, X_labels].to_csv("X_test_VED.csv", index=False)
d1.loc[test_idx, y_labels].to_csv("y_test_VED.csv", index=False)

In [14]:
tes = d1.loc[train_idx, y_labels]
tra = d1.loc[test_idx, y_labels]
len(np.unique(tra['trip_id'])), len(np.unique(tes['trip_id']))

(182, 300)

In [15]:
tra.shape, tes.shape

((7104, 5), (12244, 5))

In [ ]:
12244, 7104